.find-specialist-root {
    width: 90%;
    max-width: 1600px;
    margin: 25px auto;
    border-radius: 13px;
    .title-container{
        text-align: center;
        .title-text {
    
        }
    }
}