.chat-bubble {
    
    padding: 9px 10px;
    width: max-content;
    //min-width: none;
    max-width: calc(min(400px, 70%));
    border-radius: 19px;
    overflow-wrap: break-word;
    display: block;
    p {
        line-height: 1.3;
        color: #ffffff;
    }
}

.from-other {
    background-color: #2d3a49;
    margin: 10px 10px 10px 15px;
}
.from-you {
    background-color: #009de6;
    margin-left: auto;
    margin: 10px 15px 10px auto;
}