$border-color: #00aeef;
.chat-parent-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 300px) 1fr;
    border-radius: 15px;
    border: 2px solid $border-color;
    height: calc(100vh - 130px);
    width: 70vw;
    max-width: 1100px;

    .contact-list-child-grid {
        grid-column-start: 1;
        display: grid; // Grid inside grid
        border-right: 2px solid $border-color;
        grid-template-rows: auto 1fr;
        max-width: 300px;
        min-width: 0;
        overflow: hidden;

        .contact-list-header {
            padding: 7px;
            grid-row-start: 1;
            width: 300px;

            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            //background-color: #fff;

            .notification-icon {
                .MuiBadge-badge {
                    background-color: red;
                }
            }
            .MuiIconButton-root {
                width: 60px;
                height: 60px;
            }
        }

        .contact-list {
            min-height: 0;
            width: 300px;
            grid-row-start: 2;
            border-top: 2px solid $border-color;
            overflow: hidden;
            overflow-y: scroll;
            //background-color: blueviolet;
        }
    }

    .current-chat-grid {
        grid-column-start: 2;

        display: grid; // Grid inside grid
        grid-template-rows: auto 1fr auto;
        overflow: hidden;

        .current-chat-header {
            grid-row-start: 1;

            //background-color: brown;
        }

        .current-chat-display {
            grid-row-start: 2;
            border-top: 2px solid $border-color;
            overflow-y: scroll;
            //background-color: orange;
        }

        .current-chat-form {
            display: flex;
            padding: 15px;
            grid-row-start: 3;
            border-top: 2px solid $border-color;
            .message-input {
                flex-grow: 1;
            }
        }
    }
}
