.chat-parent-grid {
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 300px) 1fr;
      grid-template-columns: minmax(0, 300px) 1fr;
  border-radius: 15px;
  border: 2px solid #00aeef;
  height: calc(100vh - 130px);
  width: 70vw;
  max-width: 1100px;
}

.chat-parent-grid .contact-list-child-grid {
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: -ms-grid;
  display: grid;
  border-right: 2px solid #00aeef;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  max-width: 300px;
  min-width: 0;
  overflow: hidden;
}

.chat-parent-grid .contact-list-child-grid .contact-list-header {
  padding: 7px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-parent-grid .contact-list-child-grid .contact-list-header .notification-icon .MuiBadge-badge {
  background-color: red;
}

.chat-parent-grid .contact-list-child-grid .contact-list {
  min-height: 0;
  width: 300px;
  -ms-grid-row: 2;
      grid-row-start: 2;
  border-top: 2px solid #00aeef;
  overflow: hidden;
  overflow-y: scroll;
}

.chat-parent-grid .current-chat-grid {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.chat-parent-grid .current-chat-grid .current-chat-header {
  -ms-grid-row: 1;
      grid-row-start: 1;
  text-align: center;
  padding: 5px;
}

.chat-parent-grid .current-chat-grid .current-chat-display {
  -ms-grid-row: 2;
      grid-row-start: 2;
  border-top: 2px solid #00aeef;
  overflow-y: scroll;
}

.chat-parent-grid .current-chat-grid .current-chat-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -ms-grid-row: 3;
      grid-row-start: 3;
  border-top: 2px solid #00aeef;
}

.chat-parent-grid .current-chat-grid .current-chat-form .message-input {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 16px;
  background-color: #2d3a49;
  padding: 6px 10px 7px 10px;
}

.chat-parent-grid .current-chat-grid .current-chat-form .send-btn {
  margin: 0 4px;
  padding: 6px 5px 6px 7px;
}

#root {
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.joinOuterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1a1d;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }
  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.contact-root {
  margin: 0 6px;
  border-radius: 10px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0px;
  flex: 1;
  min-width: 0;
}

.contact-root:hover {
  cursor: pointer;
  background-color: #233243;
}

.contact-root .img-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 70px;
  width: 70px;
  margin: 0 6px;
  overflow: hidden;
  border-radius: 50%;
}

.contact-root .img-container .img {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.contact-root .last-message-preview {
  font-size: 14px;
}

.contact-root .contact-info {
  min-width: 0;
  margin-right: 18px;
}

.contact-root .contact-info p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-bubble {
  padding: 8px 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: calc(min(400px, 70%));
  border-radius: 19px;
  overflow-wrap: break-word;
  display: block;
}

.chat-bubble p {
  line-height: 1.3;
  color: #ffffff;
}

.from-other {
  background-color: #2d3a49;
  margin: 10px 10px 10px 15px;
}

.from-you {
  background-color: #009de6;
  margin-left: auto;
  margin: 10px 15px 10px auto;
}

.find-specialist-root {
  width: 90%;
  max-width: 1600px;
  margin: 25px auto;
  border-radius: 13px;
}

.find-specialist-root .title-container {
  text-align: center;
}
/*# sourceMappingURL=app.css.map */